.CreateTodoButton {
    background-color: rgb(133, 16, 16);
    box-shadow: 5px 3px 55px  rgb(143, 47, 18);
    border: none;
    border-radius: 45%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    z-index: 1;

    transform:rotate(0);
    transition: .5s ease;
}

.CreateTodoButton:hover{
    transform: rotate(200deg);
}